{% load static %}
<html>
    <head>
        <title>Michał Kohnke blog</title>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Dodaj</span></a>
			<h1><a href="/">Michał Kohnke Blog</a></h1>
		</div>


		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
    </body>
</html>
